<div class="well">
  <div>
    <label>
      <h2>Add Restaurant</h2>
    </label>
  </div>
  <input type="text" #resName placeholder="Restaurant name" />&nbsp;&nbsp;&nbsp;
  <input type="text" #resAddress placeholder="Restaurant Address"/>&nbsp;&nbsp;&nbsp;
  <input type="text" #resContact placeholder="Restaurant Contact No"/>&nbsp;&nbsp;&nbsp;
  <input type="text" #resType  placeholder="Restaurant Veg/ Non-Veg"/>&nbsp;&nbsp;&nbsp;
  <button (click)="addRestaurantFromService(resName.value, resAddress.value, resContact.value, resType.value)" class="btn btn-xs btn-success">Add
    Restaurant</button>
  <hr />

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Restaurants</th>
        <th>Address</th>
        <th>Contact</th>
        <th>Type</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let res of restaurant">
        <td>{{res.name}}</td>
        <td>{{res.address}}</td>
        <td>{{res.contact}}</td>
        <td>{{res.type}}</td>
        <td>
          <button (click)="goToEditRestaurant(res.id)" class="btn btn-xs btn-info glyphicon glyphicon-edit"></button>
          &nbsp;&nbsp;&nbsp;
          <button (click)="deleteRestaurantFromService(res)" class="btn btn-xs btn-danger glyphicon">X</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>