<div class="row col-md-10 col-md-offset-1">
  <div class="well well-md">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Dish Name</th>
          <th>Quantity</th>
          <th>Restaurant Name</th>
          <th>Cost</th>
        </tr>
      </thead>
      <tbody>
        <ng-container>
          <tr *ngFor="let order1 of ordersCart.cart, let i of index">
            <td>{{order1.dishName}}</td>
            <td>
              <div *ngIf=!(this.editCart)>{{order1.qty}}</div>
              
            </td>
            <td>{{order1.restaurantName}}</td>
            <td>{{order1.cost}}</td>
          </tr>
        </ng-container>
      </tbody>
    </table>

  </div>


  <div class="well well-md" *ngFor="let order of orders.reverse() | paginate : {itemsPerPage :4, currentPage: p}, index as i ">
    <p style="font-size:10px" class="pull-right">{{order.date | date:"MM/dd/yyyy, h:mm:ss a"}}</p><br />
    <h4><b>Order ID: {{order.orderId}}</b>
      <p class="pull-right">Total: {{order.total | currency:"Rs. "}}</p><br>
    </h4>
    --------------------------------------------------------------------------------------------------------------------------------------------------&nbsp;&nbsp;&nbsp;
    <button class="btn btn-xs btn-success" (click)="getOrdersCart(order._id)">
      View Order
    </button>&nbsp;&nbsp;
    <button class="btn btn-xs btn-danger pull-right" (click)="deleteOrdersCart(order._id)">
      Delete Order
    </button>
    <!-- <button class="btn btn-xs btn-info glyphicon glyphicon-edit" (click)="editOrderCart(order._id)">

    </button> -->
  </div>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>